body .article-section .article-section--box {
  width: 200px;
  height: 300px;
  background-color: white;
  -webkit-box-shadow: 0px 13px 67px -4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 67px -4px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  text-align: center;
}

body header .navigation .navigation-list .navigation-list-item {
  font-size: 18px;
  color: white;
  font-family: "Saira", sans-serif;
  line-height: 4;
}

.polygons .polygon {
  position: absolute;
  left: 0;
  right: 0;
}

.polygons .polygon:nth-child(1) {
  width: 200px;
  left: 90%;
  top: 250px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.polygons .polygon:nth-child(2) {
  width: 200px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  left: -5%;
}

.polygons .polygon:nth-child(3) {
  width: 200px;
  top: 250px;
  left: 90%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.polygons .polygon:nth-child(4) {
  top: 200%;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.polygons .polygon:nth-child(5) {
  top: 250%;
  left: 90%;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.polygons .polygon:nth-child(6) {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  left: -10%;
  top: 350%;
}

.polygons .polygon:nth-child(7) {
  left: 85%;
  top: 400%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

body {
  overflow-x: hidden;
  width: 100%;
}

body .wave {
  position: relative;
  top: 0%;
  left: 0;
  height: 700px;
  width: 100%;
  background-color: #140046;
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 18%, 83% 26%, 69% 44%, 62% 53%, 52% 62%, 36% 69%, 19% 76%);
          clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 18%, 83% 26%, 69% 44%, 62% 53%, 52% 62%, 36% 69%, 19% 76%);
}

body header {
  background-color: #140046;
  z-index: 9999;
  padding: 0 2%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

body header .responsive-nav {
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body header .responsive-nav .burger {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 30px;
  height: 45px;
}

body header .responsive-nav .burger .burger-divider {
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body header .responsive-nav .burger .burger-divider:nth-child(1) {
  top: 30%;
  left: 0;
}

body header .responsive-nav .burger .burger-divider:nth-child(2) {
  top: 50%;
  left: 0;
}

body header .responsive-nav .burger .burger-divider:nth-child(3) {
  top: 70%;
  left: 0;
}

body header .responsive-nav .burger.active .burger-divider:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

body header .responsive-nav .burger.active .burger-divider:nth-child(2) {
  left: 100%;
}

body header .responsive-nav .burger.active .burger-divider:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

body header .navigation {
  z-index: 9999;
  width: 100%;
  position: fixed;
  top: 8.7%;
  padding: 50px;
  height: 100%;
  left: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #140046;
}

body header .navigation .navigation-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header .navigation .navigation-list .navigation-list-item a {
  color: white;
  font-size: 18px;
}

body header .navigation .navigation-list .navigation-list-item a:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body header .navigation .navigation-list .navigation-list-item button {
  color: white;
  font-size: 18px;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body header .navigation .navigation-list .navigation-list-item button:hover {
  background-color: white;
  color: #140046;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body header .navigation.active {
  left: 0;
}

body .about-section {
  position: absolute;
  top: 120px;
  left: 10%;
}

body .about-section .about-section--wrapper {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .about-section .about-section--wrapper div {
  margin-bottom: 15px;
}

body .about-section .about-section--wrapper div h1 {
  letter-spacing: 2px;
  font-family: "Saira Stencil One", cursive;
  font-size: 34px;
  color: white;
}

body .about-section .about-section--wrapper div p {
  line-height: 1.2;
  width: 220px;
  font-family: "Saira", sans-serif;
  color: rgba(255, 255, 255, 0.795);
  font-size: 14px;
}

body .about-section .about-section--wrapper div button {
  font-size: 14px;
  font-family: "Saira", sans-serif;
  background-color: transparent;
  color: #c02020;
  border: 1px solid #c02020;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

body .about-section .about-section--wrapper div button:hover {
  background-color: #c02020;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .article-section {
  margin: 0 auto;
  margin-top: -300px;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .article-section .article-section--box {
  z-index: 3;
  padding: 2%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .article-section .article-section--box h2 {
  font-family: "Saira", sans-serif;
  font-weight: 600;
  color: #5633ac;
  font-size: 20px;
}

body .article-section .article-section--box p {
  font-family: "Saira", sans-serif;
  color: #797979;
  font-size: 14px;
  width: 150px;
  margin: 0 auto;
}

body .container {
  padding: 2%;
  margin-top: 50px;
}

body .container .container-box {
  text-align: center;
}

body .container .container-box div {
  width: 100%;
  text-align: center;
}

body .container .container-box div img {
  width: 250px;
}

body .container .container-box .container-info {
  text-align: center;
}

body .container .container-box .container-info h2 {
  font-family: "Saira", sans-serif;
  font-weight: 600;
  color: #5633ac;
  font-size: 34px;
  letter-spacing: 1px;
}

body .container .container-box .container-info p {
  margin: 10px auto;
  font-family: "Saira", sans-serif;
  width: 300px;
  font-weight: 400;
  color: #797979;
}

body .container .container-box .container-info .container-info--list div {
  margin: 0 auto;
  width: 300px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .container .container-box .container-info .container-info--list div img {
  margin-right: 10px;
  width: 20px;
  vertical-align: middle;
  -webkit-animation: triangle 2s infinite;
          animation: triangle 2s infinite;
}

@-webkit-keyframes triangle {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes triangle {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body .container .container-box .container-info .container-info--link p {
  cursor: pointer;
  color: #5633ac;
  margin: 40px auto;
  font-weight: 600;
}

body .container .container-box .container-info .container-info--link p:hover {
  color: #c02020;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body footer {
  padding: 20px 80px;
  text-align: left;
  margin-top: 100px;
  width: 100%;
  background-color: #140046;
  position: relative;
}

body footer .footer-wrapper .footer-wrapper-box {
  width: 200px;
}

body footer .footer-wrapper .footer-wrapper-box h3 {
  margin-top: 20px;
  color: #c02020;
  text-transform: uppercase;
  font-family: "Saira", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

body footer .footer-wrapper .footer-wrapper-box .footer-wrapper-box--divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 10px 0;
}

body footer .footer-wrapper .footer-wrapper-box p {
  margin: 0 auto;
  text-align: left;
  color: rgba(255, 255, 255, 0.815);
  font-family: "Saira", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
}

body footer .footer-wrapper .footer-wrapper-box p:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body footer .footer-wrapper .footer-wrapper-box a {
  color: rgba(255, 255, 255, 0.815);
  font-family: "Saira", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

body footer .footer-wrapper .footer-wrapper-box a:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body footer .footer-wrapper .footer-wrapper-box a img {
  margin-right: 10px;
  margin-top: 20px;
  opacity: 0.8;
}

body footer .footer-wrapper .footer-wrapper-box a img:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  body {
    min-width: 768px;
  }
  body .article-section {
    padding: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body footer .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */